jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=org.kore.kolabnotes.android
testPackageName=org.kore.kolabnotes.android
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/org.kore.kolabnotes.android/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/org.kore.kolabnotes.android/app/src/androidTest/java/org/kore/kolabnotes/android/
